body {
	background: black;
}
#getblock {
	width: 100%;
	height: 10%;
}
h1 {
	color: white;
	text-align: center;
}
    .buttonsblock {
	text-align: center;
}
#display{
	width: 50%;
	margin-top: 20px;
	margin-left: 25%;
	text-align: center;
	color: white;
	}
ul{
	list-style-type: none;
}
